<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>재활용 팁 작성</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"> <!-- 스타일 시트 추가 가능 -->
</head>
<body>
<h1>게시물 작성</h1>
<form action="/tip/create" method="POST" th:object="${post}">
    <label for="title">제목:</label><br>
    <input type="text" id="title" name="title" th:field="*{title}" /><br>
    <p class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>

    <label for="description">내용:</label><br>
    <textarea id="description" name="description" rows="4" cols="50" th:field="*{content}" required></textarea><br>
    <p class="error" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>

    <label for="tipType">타입:</label><br>
    <select name="tipType" id="tipType" th:field="*{tipType}" required>
        <option>종류 선택</option>
        <option>플라스틱</option>
        <option>종이</option>
        <option>비닐</option>
        <option>캔/병</option>
    </select><br>
    <p class="error" th:if="${#fields.hasErrors('tipType')}" th:errors="*{tipType}"></p>

    <button type="submit" onclick="handleClick(this)">작성하기</button>
</form>
<script th:src="@{/js/handleButtonClickWithDisable.js}"></script>
</body>
</html>
