<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시물 작성</title>
</head>
<body>
<h1>게시물 작성</h1>
<form action="/post/create" method="POST" th:object="${post}">
    <label for="title">제목:</label><br>
    <input type="text" id="title" name="title" th:field="*{title}" /><br>
    <p class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>

    <label for="content">내용:</label><br>
    <textarea id="content" name="content" rows="4" cols="50" th:field="*{content}" required></textarea><br>
    <p class="error" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>

    <button type="submit" onclick="handleClick(this)">게시하기</button>
</form>
<script th:src="@{/js/handleButtonClickWithDisable.js}"></script>
</body>
</html>
